body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 50px;
    background-color: black;
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

input, select, button {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #218838;
}
